// breadcrumbs
.meri-breadcrumb{
    .breadcrumb-item {
      display: inline-flex;
    }
    .breadcrumb-item+.breadcrumb-item {
      &:before{
        content: '';
        background-image: url(/assets/imgs/breadcrumb-icon.svg);
        // height: 18px;
        // background-size: 18px;
        width: 26px;
        background-position: center;
      }
    }
  }