.btn {
    border-radius: $border-radius-100;
    padding: $space12;
    font-weight: $font-weight-bold;
    font-size: $font-size-14;
    box-shadow: none;
    transition: $transition;

    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        transition: $transition;
    }

    &.btn-primary {
        background-color: $primary;
        color: $white;

        &:hover,
        &:focus,
        &:active {
            background-color: $primary-dark;
            box-shadow: none;
        }
    }

    &.btn-link-primary {
        padding: 0;
        border-bottom: $border-width-1 $border-solid $primary;
        color: $primary;
        border-radius: 0;

        &:hover,
        &:focus,
        &:active {
            border-bottom: $border-width-1 $border-solid $primary-dark;
            color: $primary-dark;
        }
    }

    &.btn-black{
        background-color: $heading;
        padding: $space12 $space40;
        color: $white;

        &:hover,
        &:focus,
        &:active {
            background-color: $primary-dark;
            box-shadow: none;
        }
    }

   &.btn-small-primary{
    background-color: $primary;
    color: $white;
    padding: $space12 $space40;

    &:hover,
    &:focus,
    &:active {
        background-color: $primary-dark;
        box-shadow: none;
    }
   }
   &.btn-white{
    background-color: $white;
    padding: $space12 $space40;
    color: $heading;
    border: $border-width-1 $border-solid $heading;

    &:hover,
    &:focus,
    &:active {
        background-color: $primary-dark;
        box-shadow: none;
        color: $white;
    }
   } 
   &.btn-secondary{
    padding: $space12 $space24;
    background-color: $secondary;
    color: $white;

   &:hover,
   &:focus,
   &:active {
       background-color: $primary-dark;
       box-shadow: none;
       color: $white;
   }
   }
   &.btn-xs-primary{
    background-color: $primary;
    color: $white;
    padding: $space12 $space24;
    text-wrap: nowrap;
    &:hover,
    &:focus,
    &:active {
        background-color: $primary-dark;
        box-shadow: none;
    }
   }
   &.btn-red{
    background-color: $red;
    padding: $space12 $space24;
    color: $white;
   
   }
   &.btn-border-body{
    background-color: $white;
    padding: $space12 $space24;
    color: $body-color;
    border: $border-width-1 $border-solid $body-color;
    &:hover,
    &:focus,
    &:active {
        background-color: $red;
        box-shadow: none;
        color:$white;
    }
   }
   
}