.form-control {
  border-radius: $border-radius-8;
  border: $border-width-1 $border-solid $divider;
  padding: $space16;
  height: 48px;
  color: $heading;
  font-size: $font-size-14;

  &::placeholder {
    opacity: 54%;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $primary;
  }

  &:focus {
    box-shadow: none;
  }
}

.input-otp {
  width: 70%;

  @media only screen and (max-width: $md-brekpoint) {
    width: 90%;
  }
}

.form-select {
  border-radius: $border-radius-8;
  border: $border-width-1 $border-solid $divider;
  padding: 0 $space16;
  height: 48px;
  color: $heading;
  font-size: $font-size-14;

  &:hover,
  &:focus,
  &:active {
    border-color: $primary;
  }

  &:focus {
    box-shadow: none;
  }

}


//for table
div.dataTables_wrapper div.dataTables_length label {
  padding: $space10 0 0 $space10;
}
.table>:not(caption)>*>*{
  color: $heading;
}
div.dataTables_wrapper div.dataTables_filter label {
  padding: $space10 $space10 0 $space4;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 74px;
}

table.dataTable.table-striped>tbody>tr:nth-of-type(2n+1)>* {
  box-shadow: none;
}

div.dataTables_wrapper div.dataTables_info{
  padding: $space10 0 0 $space10;
}
div.dataTables_wrapper div.dataTables_paginate {
  padding: 1px 0 0 0px;
  margin-right: 12px;
  margin-bottom: 12px;
}
.table-view{
  border: $border-width-1 $border-solid $divider;
  border-bottom-left-radius: $border-radius-8;
  border-bottom-right-radius: $border-radius-8;
  div.dataTables_wrapper div.dt-row{
    overflow-x: auto;
    margin: 0 $space12;
    .col-sm-12{
      padding: 0;
    }
  }
}
.table-view-company{
  .col-sm-12 {
    padding: 0;
  }
  .col-md-6{
    padding: 0;
  }
  div.dataTables_wrapper div.dataTables_filter input{
    margin: 0;
  }
  div.dataTables_wrapper div.dt-row{
    overflow-x: auto;
    .col-sm-12{
      padding: 0;
    }
  }
  div.dataTables_wrapper div.dataTables_filter label {
    padding: $space10 0 0 0;
  }
}



.page-link {
  color: $primary;
}

.page-item.active .page-link {
  background-color: $primary;
}




//for---input------------------calendar
.calender-bg-icon[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.calender-placeholder[type="date"]::before {
  color: $heading;
  content: attr(placeholder);
  opacity: 54%;
}

.calender-placeholder[type="date"] {
  color: transparent;
}

.calender-placeholder[type="date"]:focus,
.calender-placeholder[type="date"]:valid {
  color: $heading;
}

.calender-placeholder[type="date"]:focus::before,
.calender-placeholder[type="date"]:valid::before {
  content: "";
}

.calender-bg-icon {
  background-image: url(/public/assets/imgs/calendar.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 18px;
}

// number divider
.number-divider {
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  border-right: $border-width-1 $border-solid $body-color;
  padding-right: $space8;
  margin-right: $space8;
  opacity: 44%;
}

// verify input button
.verify-button {
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

// custom-radio-input
.custom-radio {
  .custom-radio-label {
    background-image: url(/public/assets/imgs/radio.svg);
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: $space2 0 $space2 $space40;
    transition: $transition;
    font-size: $font-size-14;
    color: $heading
  }

  .custom-radio-input {
    display: none;

    &:checked+.custom-radio-label {
      background-image: url(/public/assets/imgs/radio-true.svg);
      transition: $transition;
    }
  }
}
// custom-checkbox-------
.custom-checkbox {
  .custom-checkbox-label {
    background-image: url(/public/assets/imgs/checkbox.svg);
    display: block;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: $space2 0 $space2 $space40;
    transition: $transition;
    font-size: $font-size-14;
    color: $heading
  }

  .custom-checkbox-input {
    display: none;

    &:checked+.custom-checkbox-label {
      background-image: url(/public/assets/imgs/checkbox-true.svg);
      transition: $transition;
    }
  }
}