@media screen and (max-width:$sm-brekpoint) {
    .header-dropdown{
         width: 100px;
         display: flex;
         
    }
    .hedaer-dropdown-option{
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}