h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family;
  color: $heading;
  font-weight: $font-weight-bold;
}

h1,
.h1 {
  font-size: $h1-font-size;
  @media only screen and (max-width:$md-brekpoint) {
    font-size: $h1-font-mobile;
  }
}

h5,
.h5{
  font-size:$h5-font-size ;
  @media only screen and (max-width:$md-brekpoint) {
    font-size:$h5-font-mobile ;
  }
}
h6,
.h6{
  font-size:$h6-font-size ;
}