
<div class="content-wrapper">
    <section class="content">
       <div class="container-fluid">
          <div class="row">
             <div class="col-md-12">
                <div class="card card-primary">
                   <div class="card-header">
                      <h3 class="card-title">Item</h3>
                   </div>
                   <form >
                      <div class="card-body row">
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="name">Name</label>
                               <input type="text" class="form-control" id="name" placeholder="Enter Name" formControlName="name">
                               
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="email">Print Name</label>
                               <input type="email" class="form-control" id="email" placeholder="Enter Email"  formControlName="email">
                               
                            </div>
                         </div>
                         <div class="col-md-3">
                           <div class="form-group">
                              <label for="state">Unit</label>
                              <select class="form-control">
                                <option value="">Select Unit</option>
                                                  
                              </select>
                              
                           </div>
                        </div>
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="mobile">HSN Code</label>
                               <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile" formControlName="mobile">
                               
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="GSTIN">GST(%)</label>
                               <input type="text" class="form-control" id="GSTIN" placeholder="Enter GSTIN" formControlName="GSTIN">
                               
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="gst_name">Opening Stock(Qty)</label>
                               <input type="text" class="form-control" id="gst_name" placeholder="Enter GST Name" formControlName="gst_name">
                               
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="address">Opening Stock(value)</label>
                               <input type="text" class="form-control" id="address" placeholder="Enter Address" formControlName="address">
                               
                            </div>
                         </div>
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="state">Item Group</label>
                               <select class="form-control">
                                 <option value="">Select Item Group</option>
                                                   
                               </select>
                               
                            </div>
                         </div>               
                         <div class="col-md-3">
                            <div class="form-group">
                               <label for="pincode">Pincode</label>
                               <input type="text" class="form-control" id="pincode" placeholder="Enter Pincode" formControlName="pincode">
                               
                            </div>
                         </div>
                      </div>
                      <div class="card-footer">
                         <input type="hidden" formControlName="edit_id">
                         <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                   </form>
                </div>
             </div>
             <div class="col-md-12">
                <div class="card card-primary">
                   <div class="card-header">
                      <h3 class="card-title">View Merchant</h3>
                   </div>
                   
                </div>
             </div>
          </div>
       </div>
    </section>
 </div>
 