body {
  font-family: $font-family !important;
  color: $body-color;
  overflow-x: hidden;
}

// font size 
.font-14 {
  font-size: $font-size-14;
}
.font-12 {
  font-size: $font-size-12;
}
.font-20{
  font-size: $font-size-20;
}

// font color 
.font-heading {
  color: $heading !important;
}
.text-body {
  color: $body-color !important;
}
.text-blue{
  color: $blue !important;
}
.text-secondary{
  color: $secondary !important;
}

// background color 
.bg-body {
  background-color: $bg-body !important;
}
.bg-light-pink{
  background-color: $light-pink !important;
}
.bg-plum-viloet{
background-color: $plum-viloet;
}
.bg-secondary-opacity-16{
background-color: $secondary-opactiy-16;
}

.bg-blue{
  background-color: $blue !important;
}
.bg-divider{
  background-color: $divider;
}
.bg-mint{
background-color: $mint;
}
.bg-primary{
  background-color: $primary !important;
}
// padding 
.p-12{
  padding: $space12;
}
.py-80 {
  padding-top: $space80;
  padding-bottom: $space80;
}
.pr-70{
  padding-right: $space70;
}
.pl-56 {
  padding-left: $space56;
}
.py-20{
  padding-top: $space20;
  padding-bottom: $space20;
}
.py-12{
  padding-top: $space12;
  padding-bottom: $space12;
}
.pl-40{
  padding-left:$space40 !important ;
}

// border radius 
.border-radius-8 {
  border-radius: $border-radius-8;
}
.border-radius-4 {
  border-radius: $border-radius-4;
}
.rounded-bottom-8{
  border-bottom-left-radius: $border-radius-8;
  border-bottom-right-radius: $border-radius-8;
}

// border 
.border-none{
  border: none;
}
.border-divider {
  border: $border-width-1 $border-solid $divider;
}
.border-bottom-divider{
  border-bottom: $border-width-1 $border-solid $divider;
}
.border-bottom-black{
  border-bottom: $border-width-1 $border-solid $heading;
}
.border-style-none{
  border-style: none;
}

//font-weight
.fw-500{
  font-weight: $font-weight-medium;
}
.transform-none{
  transform: none !important;
}

// height
.vh-100{
  height: 100vh;
}

//title
.table-title-bottom-line {
  &::after{
   content: "";
   display: block;
   border-radius: 50px 50px 0 0;
   background-color: $primary;
   width: 40px;
   height: 3px;
   left: 24px;
   bottom: -1px;
   position: absolute;
 }
}
//width
.w-min-120{
  min-width: 120px;
}

.w-min-180{
  min-width: 180px;
}
.w-min-190{
  min-width: 190px;
}
.w-min-230{
   min-width: 230px;
 }
.w-360{
  width: 360px;
}
.w-460{
  width: 460px;
}
.w-95-parsent{
  width: 95%;
}
 
.title-border-redius{
  border-radius: $border-radius-8 $border-radius-8 0 0;
}

// top and right
.top-right-16{
  top: 16px;
  right:16px
}

// transaction-shortcut-btn
.transaction-shortcut-btn{
  // min-width: 131px;
  width: 100%;
  border: $border-width-1 $border-solid $divider;
  border-radius: $border-radius-4;
  background-color: transparent;
  font-size: $font-size-12;
  text-align: left;
  font-weight: $font-weight-bold;
}