.bg-img {
  background-image: url('../../assets/imgs/login-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 88vh;
}
.login-number {
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  border-right: $border-width-1 $border-solid $divider;
  padding-right: $space8;
  margin-right: $space8;
  opacity: 44%;
}
