.btn-border{
    background-color: $white;
    padding: $space12 $space24;
   
    &.border-primary{
        border: $border-width-1 $border-solid $primary;
        color: $primary;
    }
    &.border-secondary{
        border: $border-width-1 $border-solid $secondary;
        color: $secondary;
    }
    &.border-black{
        border: $border-width-1 $border-solid $heading;
        color: $heading;
    }
    &.border-body{
        border: $border-width-1 $border-solid $body-color;
        color: $body-color;
    }
   }
.w-master-btn{
    @media screen and (max-width:$sm-brekpoint) {
        width: 100%;
        display: block;
        margin: $space6 0;
    }
    @media screen and (max-width:$lg-brekpoint) {
       margin: $space6 0;;
    }
   }