@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Inter", sans-serif;
  color: #131515;
  font-weight: 700;
}

h1,
.h1 {
  font-size: 32px;
}
@media only screen and (max-width: 767.98px) {
  h1,
  .h1 {
    font-size: 28px;
  }
}

h5,
.h5 {
  font-size: 20px;
}
@media only screen and (max-width: 767.98px) {
  h5,
  .h5 {
    font-size: 18px;
  }
}

h6,
.h6 {
  font-size: 16px;
}

.btn {
  border-radius: 100px;
  padding: 12px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: none;
  transition: 0.3s ease;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  transition: 0.3s ease;
}
.btn.btn-primary {
  background-color: #023BFF;
  color: #FFFFFF;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #002ece;
  box-shadow: none;
}
.btn.btn-link-primary {
  padding: 0;
  border-bottom: 1px solid #023BFF;
  color: #023BFF;
  border-radius: 0;
}
.btn.btn-link-primary:hover, .btn.btn-link-primary:focus, .btn.btn-link-primary:active {
  border-bottom: 1px solid #002ece;
  color: #002ece;
}
.btn.btn-black {
  background-color: #131515;
  padding: 12px 40px;
  color: #FFFFFF;
}
.btn.btn-black:hover, .btn.btn-black:focus, .btn.btn-black:active {
  background-color: #002ece;
  box-shadow: none;
}
.btn.btn-small-primary {
  background-color: #023BFF;
  color: #FFFFFF;
  padding: 12px 40px;
}
.btn.btn-small-primary:hover, .btn.btn-small-primary:focus, .btn.btn-small-primary:active {
  background-color: #002ece;
  box-shadow: none;
}
.btn.btn-white {
  background-color: #FFFFFF;
  padding: 12px 40px;
  color: #131515;
  border: 1px solid #131515;
}
.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
  background-color: #002ece;
  box-shadow: none;
  color: #FFFFFF;
}
.btn.btn-secondary {
  padding: 12px 24px;
  background-color: #00B15D;
  color: #FFFFFF;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
  background-color: #002ece;
  box-shadow: none;
  color: #FFFFFF;
}
.btn.btn-xs-primary {
  background-color: #023BFF;
  color: #FFFFFF;
  padding: 12px 24px;
  text-wrap: nowrap;
}
.btn.btn-xs-primary:hover, .btn.btn-xs-primary:focus, .btn.btn-xs-primary:active {
  background-color: #002ece;
  box-shadow: none;
}
.btn.btn-red {
  background-color: #DC3545;
  padding: 12px 24px;
  color: #FFFFFF;
}
.btn.btn-border-body {
  background-color: #FFFFFF;
  padding: 12px 24px;
  color: #474448;
  border: 1px solid #474448;
}
.btn.btn-border-body:hover, .btn.btn-border-body:focus, .btn.btn-border-body:active {
  background-color: #DC3545;
  box-shadow: none;
  color: #FFFFFF;
}

.card {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: 0;
}
.card.login-card {
  width: 40%;
}
@media only screen and (max-width: 991.98px) {
  .card.login-card {
    width: 60%;
  }
}
@media only screen and (max-width: 767.98px) {
  .card.login-card {
    width: 90%;
  }
}
.card.creat-card {
  width: 80%;
}
@media only screen and (max-width: 767.98px) {
  .card.creat-card {
    width: 90%;
  }
}

.form-control {
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  padding: 16px;
  height: 48px;
  color: #131515;
  font-size: 14px;
}
.form-control::placeholder {
  opacity: 54%;
}
.form-control:hover, .form-control:focus, .form-control:active {
  border-color: #023BFF;
}
.form-control:focus {
  box-shadow: none;
}

.input-otp {
  width: 70%;
}
@media only screen and (max-width: 767.98px) {
  .input-otp {
    width: 90%;
  }
}

.form-select {
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  padding: 0 16px;
  height: 48px;
  color: #131515;
  font-size: 14px;
}
.form-select:hover, .form-select:focus, .form-select:active {
  border-color: #023BFF;
}
.form-select:focus {
  box-shadow: none;
}

div.dataTables_wrapper div.dataTables_length label {
  padding: 10px 0 0 10px;
}

.table > :not(caption) > * > * {
  color: #131515;
}

div.dataTables_wrapper div.dataTables_filter label {
  padding: 10px 10px 0 4px;
}

div.dataTables_wrapper div.dataTables_length select {
  width: 74px;
}

table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  box-shadow: none;
}

div.dataTables_wrapper div.dataTables_info {
  padding: 10px 0 0 10px;
}

div.dataTables_wrapper div.dataTables_paginate {
  padding: 1px 0 0 0px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.table-view {
  border: 1px solid #E4E4E4;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table-view div.dataTables_wrapper div.dt-row {
  overflow-x: auto;
  margin: 0 12px;
}
.table-view div.dataTables_wrapper div.dt-row .col-sm-12 {
  padding: 0;
}

.table-view-company .col-sm-12 {
  padding: 0;
}
.table-view-company .col-md-6 {
  padding: 0;
}
.table-view-company div.dataTables_wrapper div.dataTables_filter input {
  margin: 0;
}
.table-view-company div.dataTables_wrapper div.dt-row {
  overflow-x: auto;
}
.table-view-company div.dataTables_wrapper div.dt-row .col-sm-12 {
  padding: 0;
}
.table-view-company div.dataTables_wrapper div.dataTables_filter label {
  padding: 10px 0 0 0;
}

.page-link {
  color: #023BFF;
}

.page-item.active .page-link {
  background-color: #023BFF;
}

.calender-bg-icon[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  color: transparent;
  cursor: pointer;
}

.calender-placeholder[type=date]::before {
  color: #131515;
  content: attr(placeholder);
  opacity: 54%;
}

.calender-placeholder[type=date] {
  color: transparent;
}

.calender-placeholder[type=date]:focus,
.calender-placeholder[type=date]:valid {
  color: #131515;
}

.calender-placeholder[type=date]:focus::before,
.calender-placeholder[type=date]:valid::before {
  content: "";
}

.calender-bg-icon {
  background-image: url('../imgs/calendar.svg');
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.number-divider {
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  border-right: 1px solid #474448;
  padding-right: 8px;
  margin-right: 8px;
  opacity: 44%;
}

.verify-button {
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.custom-radio .custom-radio-label {
  background-image: url('../imgs/radio.svg');
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 2px 0 2px 40px;
  transition: 0.3s ease;
  font-size: 14px;
  color: #131515;
}
.custom-radio .custom-radio-input {
  display: none;
}
.custom-radio .custom-radio-input:checked + .custom-radio-label {
  background-image: url('../imgs/radio-true.svg');
  transition: 0.3s ease;
}

.custom-checkbox .custom-checkbox-label {
  background-image: url('../imgs/checkbox.svg');
  display: block;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 2px 0 2px 40px;
  transition: 0.3s ease;
  font-size: 14px;
  color: #131515;
}
.custom-checkbox .custom-checkbox-input {
  display: none;
}
.custom-checkbox .custom-checkbox-input:checked + .custom-checkbox-label {
  background-image: url('../imgs/checkbox-true.svg');
  transition: 0.3s ease;
}

@media screen and (max-width: 575.98px) {
  .header-dropdown {
    width: 100px;
    display: flex;
  }
  .hedaer-dropdown-option {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.sidebar-overlay {
  display: none;
}
@media screen and (max-width: 991.98px) {
  .sidebar-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
  }
  .sidebar-overlay.sidebar-overlay-show {
    display: block;
  }
}

@media screen and (max-width: 991.98px) {
  .left-sidebar {
    position: fixed;
    width: 70%;
    left: -70%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    transition: 0.3s ease;
  }
  .left-sidebar.mobile-sidebar-show {
    left: 0;
    transition: 0.3s ease;
  }
}

.dropdown-icon-img {
  background-image: url('../imgs/dropup-white-icon.svg');
  background-position: right center;
  width: 100%;
  background-repeat: no-repeat;
}
.dropdown-icon-img.collapsed {
  background-image: url('../imgs/dropdown-white-icon.svg');
}

.aside-bottom-divider::after {
  border-bottom: 1px solid #E4E4E4;
  content: "";
  display: block;
  opacity: 40%;
  margin-top: 8px;
}

.meri-breadcrumb .breadcrumb-item {
  display: inline-flex;
}
.meri-breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  content: "";
  background-image: url('../imgs/breadcrumb-icon.svg');
  width: 26px;
  background-position: center;
}

.bg-img {
  background-image: url("../../assets/imgs/login-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 88vh;
}

.login-number {
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  border-right: 1px solid #E4E4E4;
  padding-right: 8px;
  margin-right: 8px;
  opacity: 44%;
}

body {
  font-family: "Inter", sans-serif !important;
  color: #474448;
  overflow-x: hidden;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.font-20 {
  font-size: 20px;
}

.font-heading {
  color: #131515 !important;
}

.text-body {
  color: #474448 !important;
}

.text-blue {
  color: #01124C !important;
}

.text-secondary {
  color: #00B15D !important;
}

.bg-body {
  background-color: #E6EBFF !important;
}

.bg-light-pink {
  background-color: #E7E7E8 !important;
}

.bg-plum-viloet {
  background-color: rgba(2, 59, 255, 0.04);
}

.bg-secondary-opacity-16 {
  background-color: rgba(0, 177, 93, 0.16);
}

.bg-blue {
  background-color: #01124C !important;
}

.bg-divider {
  background-color: #E4E4E4;
}

.bg-mint {
  background-color: #F5F8F9;
}

.bg-primary {
  background-color: #023BFF !important;
}

.p-12 {
  padding: 12px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pr-70 {
  padding-right: 70px;
}

.pl-56 {
  padding-left: 56px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pl-40 {
  padding-left: 40px !important;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-radius-4 {
  border-radius: 4px;
}

.rounded-bottom-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.border-none {
  border: none;
}

.border-divider {
  border: 1px solid #E4E4E4;
}

.border-bottom-divider {
  border-bottom: 1px solid #E4E4E4;
}

.border-bottom-black {
  border-bottom: 1px solid #131515;
}

.border-style-none {
  border-style: none;
}

.fw-500 {
  font-weight: 500;
}

.transform-none {
  transform: none !important;
}

.vh-100 {
  height: 100vh;
}

.table-title-bottom-line::after {
  content: "";
  display: block;
  border-radius: 50px 50px 0 0;
  background-color: #023BFF;
  width: 40px;
  height: 3px;
  left: 24px;
  bottom: -1px;
  position: absolute;
}

.w-min-120 {
  min-width: 120px;
}

.w-min-180 {
  min-width: 180px;
}

.w-min-190 {
  min-width: 190px;
}

.w-min-230 {
  min-width: 230px;
}

.w-360 {
  width: 360px;
}

.w-460 {
  width: 460px;
}

.w-95-parsent {
  width: 95%;
}

.title-border-redius {
  border-radius: 8px 8px 0 0;
}

.top-right-16 {
  top: 16px;
  right: 16px;
}

.transaction-shortcut-btn {
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  text-align: left;
  font-weight: 700;
}

.btn-creat {
  width: 50%;
}
@media only screen and (max-width: 767.98px) {
  .btn-creat {
    width: 100%;
  }
}

.btn-border {
  background-color: #FFFFFF;
  padding: 12px 24px;
}
.btn-border.border-primary {
  border: 1px solid #023BFF;
  color: #023BFF;
}
.btn-border.border-secondary {
  border: 1px solid #00B15D;
  color: #00B15D;
}
.btn-border.border-black {
  border: 1px solid #131515;
  color: #131515;
}
.btn-border.border-body {
  border: 1px solid #474448;
  color: #474448;
}

@media screen and (max-width: 575.98px) {
  .w-master-btn {
    width: 100%;
    display: block;
    margin: 6px 0;
  }
}
@media screen and (max-width: 991.98px) {
  .w-master-btn {
    margin: 6px 0;
  }
}

@media screen and (min-width: 991.98px) {
  .transacton-extra-table div.dataTables_wrapper div.dataTables_length label {
    white-space: inherit;
  }
  .transacton-extra-table div.dataTables_wrapper div.dataTables_filter input {
    display: inline;
  }
  .transacton-extra-table div.dataTables_wrapper div.dataTables_filter label {
    white-space: inherit;
    display: flex;
    flex-direction: column;
  }
  .transacton-extra-table div.dataTables_wrapper div.dataTables_info {
    display: none;
  }
  .transacton-extra-table div.dataTables_wrapper div.dataTables_paginate {
    width: 100px;
  }
  .transacton-extra-table div.dataTables_wrapper div.dataTables_length select {
    display: block;
  }
}
@media screen and (max-width: 575.98px) {
  .transacton-extra-table div.dataTables_wrapper div.dataTables_filter input {
    display: block;
  }
}

@media screen and (max-width: 575.98px) {
  .transaction-main-table div.dataTables_wrapper div.dataTables_filter input {
    display: block;
  }
}

.transaction-select-opacity {
  opacity: 54%;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom: 1px solid #E4E4E4;
}

.other-details-show {
  display: none;
}

/*# sourceMappingURL=style.css.map */
