@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$font-family: 'Inter', sans-serif;

//Colors
$primary:                       #023BFF;
$primary-dark:                  #002ece;
$secondary:                     #00B15D;
$plum-viloet:                   rgba(2, 59, 255, 0.04);
$heading:                       #131515;
$body-color:                    #474448;
$white:                         #FFFFFF;
$bg-body:                       #E6EBFF;
$divider:                       #E4E4E4;
$black:                         #000000;
$light-pink:                    #E7E7E8;
$blue:                          #01124C;
$mint:                          #F5F8F9; 
$secondary-opactiy-16: rgba(0, 177, 93, 0.16); 
$red:                           #DC3545;  


// Spacing
$space2:        2px;
$space4:        4px;
$space6:        6px;
$space8:        8px;
$space10:       10px;
$space12:       12px;
$space16:       16px;
$space20:       20px;
$space24:       24px;
$space40:       40px;
$space56:       56px;
$space60:       60px;
$space70:       70px;
$space80:       80px;



// Font size
$h1-font-size:                    32px;
$h1-font-mobile:                  28px;

$h5-font-size:                    20px; 
$font-size-20:                    20px;
$h5-font-mobile:                  18px;
$h6-font-size:                    16px; 
$font-size-base:                  16px;
$font-size-14:                    14px;
$font-size-12:                    12px;
$font-size-10:                    10px;

//Font weight
$font-weight-normal:              400;
$font-weight-medium:              500;
$font-weight-bold:                700;

//border-radius
$border-radius-4:                 4px;
$border-radius-8:                 8px;
$border-radius-100:               100px;

// Border width 
$border-width-1:                  1px;


// Border Type 
$border-solid:                    solid;

// Transition
$transition:                      0.3s ease;

// Card
$card-shadow:                     0 6px 16px rgba($black, 8%);

// breakpoint

$xl-brekpoint:                    1199.98px;
$lg-brekpoint:                    991.98px;
$md-brekpoint:                    767.98px;
$sm-brekpoint:                    575.98px;

